Adafruit-bitfield==1.5.1
Adafruit_GPIO==1.0.3
Adafruit_PureIO==1.1.12
Adafruit_seesaw==1.0
board==1.0
colorzero==2.0
gpiozero==2.0.1.post3
lgpio==0.2.2.0
setuptools==84.0.0
paho-mqtt>=2.1.0
pydantic==2.13.5
tzdata
adafruit-circuitpython-bh1750